//------------------------------
// *****************************
// Rules
// *****************************
//------------------------------

/// SASS version of normalize.scss
/// @website https://github.com/JohnAlbin/normalize-scss
/// @docs https://github.com/JohnAlbin/normalize-scss#how-to-use-it
@import "~normalize.css/normalize.css";

/// General HTML/Body styles
/// border-boxing fix
html, body {
  box-sizing: border-box;
  height: 100%;
  min-height: 100%;

  /* Better Font Rendering */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  outline: none;
  outline: 0;
  box-sizing: inherit;

  &:hover,
  &:focus,
  &:active {
    outline: none;
    outline: 0;
  }

  &:before,
  &:after {
    box-sizing: inherit;
  }
}

.resizex{
  resize:horizontal;
}

.w-96{
  width:24rem
}

.min-w-32{
  min-width:8rem
}

.min-w-128{
  min-width:32rem
}

.max-w-almost-full{
  max-width:calc(100vw - 4rem);
}

.h-160{
  height:40rem
}
